{% extends 'layout.html.twig' %}

{% block title %}Bienvenue sur l'Île de Tijo
{% endblock %}
{% block description %}Venez découvrir le parc de l'Île de Tijo
{% endblock %}

{% block content %}
	<h1>Infos pratiques</h1>
	<p>Lorem ipsum dolor sit amet consectetur. Ut pellentesque faucibus feugiat eget fusce nisl in lacinia a. Sit sem cursus ut gravida nisi neque. Venenatis nibh sed magnis amet amet phasellus vulputate sed viverra. Nullam lorem sit turpis sollicitudin id sem convallis. Nunc aliquet sodales tincidunt ultricies aenean rhoncus sociis.</p>
	<div class="grid">
		<article>
			<table>
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Heading</th>
						<th scope="col">Heading</th>
						<th scope="col">Heading</th>
						<th scope="col">Heading</th>
						<th scope="col">Heading</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Cell</td>
						<td>Cell</td>
						<td>Cell</td>
						<td>Cell</td>
						<td>Cell</td>
					</tr>
					<tr>
						<th scope="row">1</th>
						<td>Cell</td>
						<td>Cell</td>
						<td>Cell</td>
						<td>Cell</td>
						<td>Cell</td>
					</tr>
					<tr>
						<th scope="row">1</th>
						<td>Cell</td>
						<td>Cell</td>
						<td>Cell</td>
						<td>Cell</td>
						<td>Cell</td>
					</tr>
				</tbody>
			</table>
		</article>
		<div>
			<article>
				Où sommes-nous situés ?
				<br>
				À 10 minutes de Rochefort, en Charente-Maritime (région Nouvelle-Aquitaine), dans la zone commerciale de La Varenne, à Tonnay-Charente.
				<br>
				Facile d'accès par la voie rapide ou la départementale, que vous soyez de passage en vacances ou en résidence permanente, passez nous dire bonjour avec vos enfants.
				<br><br>
				Pour nos amis étrangers :

			</article>
			<article>
				Appelez le :
				<br>
				05 46 89 30 60
				<br>
				06 09 55 90 19
			</article>
		</div>
	</div>
{% endblock %}
