{% extends 'layout.html.twig' %}

{% block title %}
	Bienvenue sur le site du parc de l'Île de Tijo
{% endblock %}

{% block description %}
	Venez découvrir le parc de l'Île de Tijo
{% endblock %}

{% block content %}

	<h1>Tableaux des menus</h1>

<div class="grid center">
            <article>
                    <table role="grid">
                        <thead>
                            <tr>
                                <th scope="col" class="center bold">Menu Tijo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Une Assiette au choix</td>
                            </tr>
                            <tr>
                                <td>Une Boisson</td>
                            </tr>
                            <tr>
                                <td>Une compote</td>
                            </tr>
                            <tr>
                                <td>Une surprise</td>
                            </tr>
                            <tr>
                                <td class="bold center">7,50 €</td>
                            </tr>
                        </tbody>
                    </table>
            </article>

            <article>
                    <table role="grid">
                        <thead>
                            <tr>
                                <th scope="col" class="center bold">Menu Adulte</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Une assiette au choix (salade incluse)</td>
                            </tr>
                            <tr>
                                <td>Une boisson 33 cl</td>
                            </tr>
                            <tr>
                                <td>Une glace ou une crepe ou un café</td>
                            </tr>
                            <tr>
                                <td class="birthday-price center">9,50 €</td>
                            </tr>
                        </tbody>
                    </table>
            </article>
        </div>

        <br>
        <h1>Tableau de la carte</h1>

<div class="grid center">
            <article>
                    <table role="grid">
                        <tbody>
                            <tr>
                                <td scope="col" class="center bold">Boissons</td>
                            </tr>
                            <tr>
                                <td>Cannettes 2€</td>
                            </tr>
                            <tr>
                                <td>Briquettes 1€50</td>
                            </tr>
                            <tr>
                                <td>Sirops 1€</td>
                            </tr>
                            <tr>
                                <td>Eau 1€</td>
                            </tr>

                            <tr>
                                <td scope="col" class="center bold">Chaudes</td>
                            </tr>
                            <tr>
                                <td>Chocolat chaud 1€</td>
                            </tr>
                            <tr>
                                <td>Café 1€</td>
                            </tr>
                            <tr>
                                <td>Thé 1€</td>
                            </tr>

                            <tr>
                                <td scope="col" class="center bold">Paninis</td>
                            </tr>
                            <tr>
                                <td>Panini jambon fromage 4€</td>
                            </tr>
                            <tr>
                                <td>Panini 3 fromages 4€</td>
                            </tr>
                            <tr>
                                <td>Panini Burger 4€</td>
                            </tr>
                            <tr>
                                <td>Panini Poulet 4€</td>
                            </tr>

                            <tr>
                                <td scope="col" class="center bold">Assiettes</td>
                            </tr>
                            <tr>
                                <td>Assiette de frites 3€</td>
                            </tr>
                            <tr>
                                <td>Steak haché 150g frites 6€50</td>
                            </tr>
                            <tr>
                                <td>Nuggets poisson (16) frites 5€50</td>
                            </tr>
                            <tr>
                                <td>Nuggets  poulet (16) frites 5€50</td>
                            </tr>

                            <tr>
                                <td scope="col" class="center bold">Le Sucré</td>
                            </tr>
                            <tr>
                                <td>Crêpes ou Gauffres</td>
                            </tr>
                            <tr>
                                <td>Sucre 2€</td>
                            </tr>
                            <tr>
                                <td>Nutella 2€50</td>
                            </tr>

                            <tr>
                                <td scope="col" class="center bold">Glaces</td>
                            </tr>
                            <tr>
                                <td>1 Boule 1€50</td>
                            </tr>
                            <tr>
                                <td>2 Boules 2€50</td>
                            </tr>
                            <tr>
                                <td>3 Boules 3€</td>
                            </tr>
                        </tbody>
                    </table>
            </article>
            </div>

{% endblock %}
