<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>body { font-family: Horrible; text-align: center; text-shadow: #fff 0.2rem 0.2rem 0.2rem; color: #ff0000; font-weight: bold; text-transform: uppercase; font-family: Tahoma; font-size: 20pt; display: flex; flex-direction:column; align-items: center; justify-content: center; background: url("/assets/images/404.png") no-repeat; }</style>
</head>
<body>
    <h1>Vous êtes sur la mauvaise île<br>(erreur 404)</h1>
    <p><a href="/">Accueil</a></p>
</body>
</html>