{% extends 'layout.html.twig' %}

{% block title %}Bienvenue sur le site du parc de l'Île de Tijo{% endblock %}
{% block description %}Venez découvrir le parc de l'Île de Tijo{% endblock %}

{% block content %}
    <div>
		<h1>L'Ile de Tijo</h1>
		<div class="container">
			<article class="accueil">
                <h2>Accueil</h2>
                <iframe class="video" src="https://www.youtube.com/embed/BEFHORm_UuE" title="Présentation du Parc d&#39;attraction l&#39;Ile de Tijo à Tonnay-Charente" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                </iframe>
				<h5>
                Salut, pour ceux qui ne me connaissent pas encore, je suis TIJO.<br>
                Un beau jour, j'ai eu envie de faire un tour du monde en bateau. Me voilà donc parti de mon Australie natale, où vit le koala, pour une longue traversée... semée d'embûches.<br>
                Eh oui, je dis bien semée d'embûches car lors d'une tempête, mon bateau (que je vous invite à venir visiter) malmené par les vagues, s'est échoué sur un endroit isolé.<br>
                Après en avoir fait le tour, j'ai trouvé ce petit morceau de terre vraiment agréable et j'ai eu envie d'y rester.<br>
                Je vous présente donc les différents espace de mon île...<br>
                En premier lieu, L'Océan, une aire de motricité destinée aux 0-3 ans. Puis venez faire un tour dans mon bateau sur la plage avant de vous perdre dans la jungle dédiée aux 4-12 ans où vous vivrez de drôles d'aventures.<br>
                Si un petit creux se fait sentir, le snack vous permettra de caler l'estomac des petits comme des grands avec du sucré ou du salé selon vos envies.<br>
                L'été vous trouverez également tout un espace à l'extérieur avec terrasse où les enfants pourront s'amuser avec des jeux et des gonflables.<br>
                Je vous invite à découvrir cette grande aventure au travers de notre site Internet.<br>
                A très bientôt,<br>
                Tijo.
                </h5>
                <h2>Évenement
                </h2>
            </article>
        </div>
    </div>
{% endblock %}
