{% extends 'layout.html.twig' %}

{% block title %}Réservation en ligne au parc de l'Île de Tijo{% endblock %}
{% block description %}Réservez votre place pour un moment de détente sur l'Île de Tijo{% endblock %}

{% block content %}
    <h2>Anniversaire</h2>
    <section class="center">
        <p>
            Viens fêter ton ANNIVERSAIRE à l'ILE DE TIJO !<br>
            Minimum 6 enfants
        </p>
        <img alt="Anniversaire" src="/../assets/images/birthday.png"><br><br>
        <img alt="Anniversaire" src="/../assets/images/birthday_tables.jpg" class="rounded">
        <hr>
        <h2>Nos 4 formules</h2>
        <div class="grid center">
            <div class="formule">
                <table>
                    <thead>
                        <tr>
                            <th scope="col" class="center bold">FORMULE CLASSIQUE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ENTRÉE AU PARC (TEMPS ILLIMITÉ)</td>
                        </tr>
                        <tr>
                            <td>TABLE RÉSERVÉE ET DRESSÉE</td>
                        </tr>
                        <tr>
                            <td>GÂTEAU D'ANNIVERSAIRE ET BOISSONS OFFERTES</td>
                        </tr>
                        <tr>
                            <td>(SIROP À L'EAU À VOLONTÉ)</td>
                        </tr>
                        <tr>
                            <td>UNE ASSIETTE DE BONBONS</td>
                        </tr>
                        <tr>
                            <td>CARTES D'INVITATIONS OFFERTES</td>
                        </tr>
                        <tr>
                            <td>CADEAU POUR LE ROI DE LA FÊTE</td>
                        </tr>
                        <tr>
                            <td class="bold center">12€ / enfant</td>
                        </tr>
                        <tr>
                            <td class="center margin-table"><a href="reservation" class="link-booking rounded bold">Je réserve !</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="formule">
                <table>
                    <thead>
                        <tr>
                            <th scope="col" class="center bold">FORMULE REPAS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ENTRÉE AU PARC (TEMPS ILLIMITÉ)</td>
                        </tr>
                        <tr>
                            <td>TABLE RÉSERVÉE ET DRESSÉE</td>
                        </tr>
                        <tr>
                            <td>CARTES D'INVITATIONS OFFERTES</td>
                        </tr>
                        <tr>
                            <td>CADEAU POUR LE ROI DE LA FÊTE</td>
                        </tr>
                        <tr>
                            <td>UNE ASSIETTE DE BONBONS</td>
                        </tr>
                        <tr>
                            <td><u>MENU ENFANT COMPRENANT</u> :</td>
                        </tr>
                        <tr>
                            <td>- UNE ASSIETTE AU CHOIX</td>
                        </tr>
                        <tr>
                            <td>- UN PICHET DE SIROP (À VOLONTÉ)</td>
                        </tr>
                        <tr>
                            <td>- CRÊPES OU GÂTEAU D'ANNIVERSAIRE</td>
                        </tr>
                        <tr>
                            <td class="birthday-price center">15,90€ / enfant</td>
                        </tr>
                        <tr>
                            <td class="center"><a href="reservation" class="link-booking rounded bold">Je réserve !</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="grid center">
            <div class="formule">
                <table>
                    <thead>
                        <tr>
                            <th scope="col" class="center bold">FORMULE ANIMÉE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>FORMULE CLASSIQUE</td>
                        </tr>
                        <tr>
                            <td>+</td>
                        </tr>
                        <tr>
                            <td>UN SOUVENIR POUR CHAQUE ENFANT</td>
                        </tr>
                        <tr>
                            <td>ANIMATION PAR NOS SOINS ADAPTÉE À LA TRANCHE D'ÂGE</td>
                        </tr>
                        <tr>
                            <td class="birthday-price center">15,90€ / enfant</td>
                        </tr>
                        <tr>
                            <td class="center"><a href="reservation" class="link-booking rounded bold">Je réserve !</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="formule">
                <table>
                    <thead>
                        <tr>
                            <th scope="col" class="center bold">FORMULE NO LIMIT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>ENTRÉE AU PARC (TEMPS ILLIMITÉ)</td>
                        </tr>
                        <tr>
                            <td>TABLE RÉSERVÉE ET DRESSÉE</td>
                        </tr>
                        <tr>
                            <td>1 PICHET DE SIROP À L'EAU</td>
                        </tr>
                        <tr>
                            <td>1 CRÊPE AU AU SUCRE / ENFANT</td>
                        </tr>
                        <tr>
                            <td>1 PETITE ASSIETTE DE BONBONS</td>
                        </tr>
                        <tr>
                            <td>CARTES D'INVITATIONS OFFERTES</td>
                        </tr>
                        <tr>
                            <td>CADEAU POUR LE ROI DE LA FÊTE</td>
                        </tr>
                        <tr>
                            <td class="birthday-price center">
                                10€ / enfant<br>
                                Tous les jours sauf le samedi
                            </td>
                        </tr>
                        <tr>
                            <td class="center"><a href="reservation" class="link-booking rounded bold">Je réserve !</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="grid">
            <img src="/../assets/images/logo-booking.png" alt="Logo">
            <p>
                Au moins 1 parent accompagnant<br><br>
                GRATUIT pour l'enfant qui fête son anniversaire (à partir de 8 invités)<br><br><br>
                <u>Pour les formules repas</u> :<br>
                S'il y a moins de 8 enfants payants, la gratuité de l'enfant qui fête son anniversaire sera supprimée.<br><br>
                Pour le gâteau, il faut 6 enfants minimum.
            </p>
        </div>
        <hr>
        <div class="grid">
            <img src="/../assets/images/socks.gif" alt="Chaussettes">
            <p>
                <u>CONDITIONS DE RÉSERVATION</u><br><br>
                Les enfants sont sous la responsabilité des parents. Il n'y a pas d'animateurs lors de la prestation, néanmoins une personne s'occupera de vous accueillir, vous installer et vous apporter boissons et gâteaux.<br><br>
                Règlement d'un acompte de 48€ lors de la réservation.<br><br>
                Les cartes d'invitations sot à récupérer lors du règlement ou vous seront envoyées par courrier.<br><br>
                Le gâteau est réalisé en fonction du nombre de places achetées (adultes non compris).<br><br>
                Réservation minimum 7 jours avant la prestation (selon disponibilité).<br><br>
                Il est fortement conseillé d'informer les enfants du règlement intérieur afin qu'ils puissent jouer en toute sécurité.
            </p>
        </div>
    </section>
{% endblock %}
