<!doctype html>
<html lang="fr" data-theme="light">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}{% endblock %}
		</title>
		<meta name="description" content="{% block description %}{% endblock %}">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap">
		<link rel="stylesheet" href="/assets/css/style.css" media="screen">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
		<link rel="icon" type="image/png" href="img/koala_tete.png"/> {% block stylesheet %}{% endblock %}
		</head>
		<body>
			<div class="background"></div>
			<aside class="burger">
				<div class="burgerMenu">
					<span class="burger-menu-line"></span>
					<span class="burger-menu-line"></span>
					<span class="burger-menu-line"></span>
				</div>
			</aside>
			<aside class="nav">
				<nav>
					<ul>
						<li><a class="koala_tete" href="/"></a></li>
						<li><a class="planche" href="#">Jeux</a></li>
						<li><a class="planche" href="#">Gallerie</a></li>
						<li><a class="planche" href="#">Snack</a></li>
						<li><a class="planche" href="/infos">Infos Pratiques</a></li>
						<li><a class="planche-rouge" href="#">Réservation</a></li>
					</ul>
				</nav>
			</aside>
			<main>
				{% block content %}{% endblock %}
			</main>
			<footer class="footer">
				<div class="footer-endline"></div>
				<div class="grid">
					<div class="footer-element">
						<h4>Venez vous Amuser !</h4>
						<ul>
							<li><a href="#"><img class="footer-map" src="/assets/images/map_one.png" alt="carte"></a></li>
						</ul>
					</div>
					<div class="footer-element">
						<h4>Réserver Votre Moment !</h4>
						<table>
							<thead>
								<tr>
									<th scope="col">JOUR</th>
									<th scope="col">HORAIRES</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td scope="row">Lundi</td>
									<td>⛔ Fermé</td>
								</tr>
								<tr>
									<td scope="row">Mardi</td>
									<td>⛔ Fermé</td>
								</tr>
								<tr>
									<td scope="row">Mercredi</td>
									<td>✅ 11h - 19h</td>
								</tr>
								<tr>
									<td scope="row">Jeudi</td>
									<td>⛔ Fermé</td>
								</tr>
								<tr>
									<td scope="row">Vendredi</td>
									<td>⛔ Fermé</td>
								</tr>
								<tr>
									<td scope="row">Samedi</td>
									<td>✅ 11h - 19h</td>
								</tr>
								<tr>
									<td scope="row">Dimanche</td>
									<td>✅ 11h - 19h</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td></td>
									<td></td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="footer-element">
						<h4>Contactez-nous !</h4>
						<ul class="phone_adress">
							<li>
								05 46 89 30 60
							</li>
							<li>
								06 09 55 90 19
							</li>
							<br>
							<li>ZAC de la Varenne, Rue Louis Pasteur, 17430 Tonnay-Charente</li>
						</ul>
					</div>
					<div class="footer-element">
						<h4>Suivez-nous !</h4>
						<div class="social-links">
							<a href="https://www.facebook.com/people/L%C3%AEle-De-Tijo/100064368324204/">
								<i class="fab fa-facebook-f"></i>
							</a>
							<a href="https://www.instagram.com/liledetijo/">
								<i class="fab fa-instagram"></i>
							</a>
							<a href="https://www.youtube.com/@liledetijo9858/featured">
								<i class="fab fa-youtube"></i>
							</a>
						</div>
						<a href="#"><img class="footer-image" src="/assets/images/koala-ile.png" alt="ile de tijo"></a>
					</div>
				</div>
				<div class="container-waivy">
					<div class="waivy">
						<div class="waivy-span" style="--i:1">Ouvert</div>
						<div class="waivy-span" style="--i:2">tous</div>
						<div class="waivy-span" style="--i:3">les</div>
						<div class="waivy-span" style="--i:4">jours</div>
						<div class="waivy-span" style="--i:5">pendant</div>
						<div class="waivy-span" style="--i:6">les</div>
						<div class="waivy-span" style="--i:7">vacances</div>
						<div class="waivy-span" style="--i:8">y</div>
						<div class="waivy-span" style="--i:9">compris</div>
						<div class="waivy-span" style="--i:10">les</div>
						<div class="waivy-span" style="--i:11">jours</div>
						<div class="waivy-span" style="--i:12">fériés</div>
					</div>
				</div>
				<div class="footer-endline"></div>
				<div class="container-footer-end">
					<h6>© Tous droits réservés 2018-2023 | France | Mentions légales | CGU |
						<a href="#" alt="Politique de confidentialité">Politique de confidentialité</a>
						| Politique des cookies</h6>
				</div>
			</footer>
			<div class="btnScrollToTop" data-scroll="up" type="button">
				<img class="footer-image" src="/assets/images/doigt_haut_1.png" alt="Scroll to top"/>
			</div>
			<script src="/assets/js/script_btn.js"></script>
		</body>
	</html>
