.TextGallerie {
    justify-content: center;
    align-items: center;
}

.swiper2 {
    width: 50%;
    height: 50%;
  }

  .swiper-slide2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }
