:root {
    --font-family: 'Chelsea Market','Open Sans', sans-serif;
    --font-size: 100%;
    --white-color: #fff;

    /* --nav-width: clamp(220px, 16.875rem, 400px); */
    --nav-width: clamp(220px, 16.875rem, 400px);
    --body-spacing: 3rem;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
}

body > main {
    backdrop-filter: blur(5px);
    background: linear-gradient(100deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    box-shadow: 0px 0px 30px 30px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-top: var(--body-spacing);
    margin-left: calc(var(--body-spacing) * 2 + var(--nav-width));
    margin-right: var(--body-spacing);
    padding: var(--block-spacing-vertical);
    width: auto;
    height: 90vh;
}

.background {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background: url('/assets/images/background.png') no-repeat;
    background-size: cover;
    position: fixed;
    inset: 0;
    z-index: -1;
    overflow: auto;
}

@media screen and (max-width: 750px) {
    body > main {
        backdrop-filter: blur(5px);
        background: linear-gradient(100deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
        box-shadow: 0px 0px 30px 30px rgba(255, 255, 255, 0.5);
        border-radius: 10px;
        margin-top: var(--body-spacing);
        margin-left: var(--body-spacing);
        margin-right: var(--body-spacing);
        padding: var(--block-spacing-vertical);
        width: auto;
        height: 90vh;
    }
}
