aside {
    --navlink-padding: 2rem;
    /* background-color: white; */
    backdrop-filter: blur(5px);
    background: linear-gradient(100deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    box-shadow: 0px 0px 30px 30px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    top: var(--body-spacing);
    left: var(--body-spacing);
    bottom: var(--body-spacing);
    width: var(--nav-width);
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

aside > nav {
    position: fixed;
    width: var(--nav-width);
}

aside > nav > ul:last-of-type {
    margin: 0;
    padding: 0;
}

aside > nav > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0rem;
    padding: 0rem; */
}

aside > nav > ul > li:hover {
    transform: rotate(5deg);
}

aside > nav > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Chelsea Market', cursive;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    text-align: center;
}
aside > nav > ul > li > a:hover {
    /* background-image: url(img/planche-rouge.png); */
    filter: brightness(130%);
}

.koala_tete,
.planche,
.planche-rouge {
    background-image: url('/assets/images/planche.png');
    background-position: center;
    background-size: contain;
    height: calc((var(--nav-width) - var(--navlink-padding)) * 96/265);
    width: calc(var(--nav-width) - var(--navlink-padding));
    padding: var(--navlink-padding);
}

.planche-rouge {
    background-image: url('/assets/images/planche-rouge-fonce.png');
}

.koala_tete {
    background-image: url('/assets/images/koala_tete.png');
}
.koala_tete:hover {
    background-image: url('/assets/images/koala_tete_sourire.png');
}

/* RESPONSIVE & MENU BURGER */

@media screen and (max-width: 750px) {
    aside {
        z-index: 100;
        top: 0;
        left: 0;
    }
    .nav {
        display: none;
    }
    .burger {
        width: 50px;
        height: 50px;
    }

    .burgerMenu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        border: #662E13 2px solid;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        background: linear-gradient(145deg, #efac6a, #c99159);
    }
    .burgerMenu:hover {
        cursor: pointer;
        background: #C07442;
        box-shadow: inset 10px 10px 15px #905732,
                    inset -10px -10px 15px #f09153;
    }
    .burger-menu-line {
        border: #662E13 3px solid;
        border-radius: 10px;
        width: 30px;
        height: 5px;
    }
}
