.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pageformule {
    width: 40%;
    height: 40%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.lien {
    color: white;
    text-align: center;
}

.ImgMenus {
    display: flex;
    justify-content: space-between;
}

.ImgMenus img {
    width: 48%;
    height: auto;
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}


.carteimg {
    animation: float 2s ease-in-out infinite
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}
