@media screen and (max-width: 750px) {
    .containeur {
        flex-direction: column;
        align-items: center;
    }

    .Titles {
        font-size: medium;
        margin-top: 20px;
    }

    .swiper {
        width: 100%;
        height: auto;
    }

    .swiper-slide {
        width: 100%;
        text-align: center;
        font-size: 14px;
        display: block;
        margin-bottom: 20px;
    }
}

.swiper {
    width: 80%;
    height: 90%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.swiper-button-next,
.swiper-button-prev {

    background-color: transparent;
    border-style: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    filter: drop-shadow(2px 2px 2px #646161);
    color: white;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #646161;
    border: none;
}
