@charset "utf-8";

@import 'pico.min.css';
@import 'global.css';
:root {
    --font-family: 'Open Sans', sans-serif;
    --font-size: 1.1rem;
}

.background {
    font-family: var(--font-family);
    font-size: var(--font-size);
    background: url('/img/background.png') no-repeat;
    background-size: cover;
    position: fixed;
    inset: 0;
    z-index: -1;
    overflow: auto;
}

aside {
    /* background-color: white; */
    backdrop-filter: blur(5px);
    background: linear-gradient(100deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    box-shadow: 0px 0px 30px 30px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    top: 5vh;
    margin-left: 2%;
    width: 20%;
    height: 90%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

aside > nav {
    position: fixed;
}

aside > nav > ul {
    margin: 0;
    padding: 0;
}

aside > nav > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0rem;
    padding: 0rem; */
}

aside > nav > ul > li:hover {
    transform: rotate(5deg);
}

aside > nav > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Chelsea Market', cursive;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    font-size: 1.5cqw;
}
aside > nav > ul > li > a:hover {
    /* background-image: url(img/planche-rouge.png); */
    filter: brightness(130%);
}

.koala_tete {
    background-image: url(img/koala_tete.png);
    background-size: contain;
    height: 8cqw;
    width: 100%;
}
.koala_tete:hover {
    background-image: url(img/koala_sourire.png);
}

.planche,
.planche-rouge {
    background-image: url(img/planche.png);
    background-size: contain;
    height: 7.6cqw;
    width: 100%;
}

.planche-rouge {
    background-image: url(img/planche-rouge-fonceÌ.png);
}

body {
    min-height: 100vh;
    height: auto;
}

body > main {
    backdrop-filter: blur(5px);
    background: linear-gradient(100deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    box-shadow: 0px 0px 30px 30px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin-top: 5vh;
    margin-left: 24%;
    margin-right: 2%;
    min-height: 100%;
    width: auto;
}

