.TitreSnack {
    text-align: center;
    font-family: 'Chelsea Market', cursive;
    font-size:xx-large;
}

.Menus {
    text-align: center;
    font-family: 'Chelsea Market', cursive;
    font-size: xx-large;
}

.ImgMenus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
    height: 400px;
  }

  .ImgMenus img {
    width: 48%;
    height: auto;
    animation: float 2s ease-in-out infinite;
  }

  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  .carte {
    animation-name: flotter;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

  @keyframes flotter {
    from { transform: translate(0, 0); }
    to { transform: translate(0, -10px); }
  }

  .Carte {
    text-align: center;
    font-family: 'Chelsea Market', cursive;
    font-size: xx-large;
  }




