{% extends 'layout.html.twig' %}

{% block title %}Bienvenue sur le site du parc de l'Île de Tijo
{% endblock %}
{% block description %}Venez découvrir le parc de l'Île de Tijo
{% endblock %}

{% block content %}

	<h1 class="TitreSnack">SNACK :</h1>
	<p>Si vous avez envie de vous restaurer pendant votre visite dans notre parc de loisirs, vous pouvez vous rendre au snack où vous trouverez une sélection de produits salés et sucrés. Nous avons une variété d'options de restauration disponibles pour satisfaire tous les goûts et préférences, que ce soit pour une petite collation rapide ou pour un repas complet. Vous pourrez donc vous détendre et profiter de votre journée sans vous inquiéter de chercher de la nourriture à l'extérieur du parc.</p>

    <h2 class="Menus">LES MENUS :</h2>
	<div class="ImgMenus">
		<img src="/../assets/images/MENU ENFANT.png" alt="menu enfant">
		<img src="/../assets/images/adulte menu.png" alt="menu adulte">
	</div>

	<h3 class="Carte">LA CARTE :</h3>
	<img class="carteimg" src="/../assets/images/SNACK.png">
{% endblock %}
