{% extends 'layout.html.twig' %}

{% block title %}Bienvenue sur le site du parc de l'Île de Tijo{% endblock %}
{% block description %}Venez découvrir le parc de l'Île de Tijo{% endblock %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">

<h1>JEUX :</h1>
<p>Sur l'Île de Tijo, vous pouvez trouver une large sélection de jeux adaptés à tous les âges et à tous les goûts. Explorez notre collection et trouvez celui qui convient le mieux à vos préférences.</p>
{% endblock %}
