{% extends 'layout.html.twig' %}

{% block title %}
	Bienvenue sur le site du parc de l'Île de Tijo
{% endblock %}

{% block description %}
	Venez découvrir le parc de l'Île de Tijo
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
{% endblock %}

{% block content %}

	<h1 class="Titles">Jeux</h1>
	<p>Sur l'Île de Tijo, vous pouvez trouver une large sélection de jeux adaptés à tous les âges et à tous les goûts. Explorez notre collection et trouvez celui qui convient le mieux à vos préférences.
	</p>

	<div>
		<article class="grid">
			<div class="Categorie">
				<h2 class="Titles">De 0 à 3 ans</h2>

				<div class="swiper">
					<div class="swiper-wrapper">

						<div class="swiper-slide">
							<img src="assets/images/jeu1.PNG">
						</div>
						<div class="swiper-slide">
							<img src="assets/images/jeu2.PNG">
						</div>
					</div>

				<div class="swiper-pagination"></div>

				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>

				<div class="swiper-scrollbar"></div>
			</div>
		</div>


			<div class="Categorie">

			<h2 class="Titles">De 3 à 12 ans</h2>

				<div class="swiper">

					<div class="swiper-wrapper">

						<div class="swiper-slide">
							<img src="assets/images/jeu3.png">
						</div>
						<div class="swiper-slide">
							<img src="assets/images/jeu4.png">
						</div>
						<div class="swiper-slide">
							<img src="assets/images/jeu5.png">
						</div>
						<div class="swiper-slide">
							<img src="assets/images/jeu6.png">
						</div>
						<div class="swiper-slide">
							<img src="assets/images/jeu7.png">
						</div>
						<div class="swiper-slide">
							<img src="assets/images/jeu8.png">
						</div>
						<div class="swiper-slide">
							<img src="assets/images/jeu9.PNG">
						</div>
						<div class="swiper-slide">
							<img src="assets/images/jeu10.PNG">
						</div>
						<div class="swiper-slide">
							<img src="assets/images/jeu11.png">
						</div>
						<div class="swiper-slide">
							<img src="assets/images/jeu12.png">
						</div>
					</div>

				<div class="swiper-pagination"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
				<div class="swiper-scrollbar"></div>
			</div>
	</article>

{% endblock %}

{% block javascript %}
	<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
	<script src="/assets/js/script.js"></script>
{% endblock %}
